[access]
	inheritFrom = ta
[access "refs/*"]
	owner = group ldap/akraino-gerrit-ta-openstack-ansible-committers
[project]
	description = these projects are re-used from the upstream Openstack-Ansible project (https://github.com/openstack/openstack-ansible ) for the purpose of deploying Galera, Keystone, RabbitMQ, and Ironic. These services are used by various middleware, and deployer components.
